body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background-color: #ebebeb;
}

.container{
  width: 1250px;
  margin:0 auto;
}

.container-body{
	width: 1183px;
}

header {
	width: 100%;
	height: 96px; /* 486px; */
	background-color: #563d7c;
}

.index{
	width: 100%;
	height: 390px; /* 486px; */
	background-color: #563d7c;
}

header .menu {
	height: 96px;
}

header .left {
	position: relative;
	float: left!important;
	margin: 30px;
	margin-top: 25px;
    margin-bottom: 0;
}

header .right {
	position: relative;
	float: right!important;
	margin: 30px;
	margin-top: 39px;
    margin-bottom: 0;
}

header .right a{
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
}

header .right a:hover{
	color: #ebebeb;
}

header .right a.active {
    background-color: #3e2c5a;
    padding-top: 40px;
    padding-bottom: 35px;
}

.browser {
	float: left;
	margin-left: 28.08%; /* 351px */
	margin-top: 39px;
	height: 318px;
}

.browser .top-bar{
	background-color: #ebebeb;
	height: 30px;
    border-radius: 5px 5px 0 0;
    border-top: thin solid #dddddd;
    border-bottom: thin solid #dddddd;
}

.browser .top-bar .circles {
    width: 100px;
    height: 12px;
    padding: 8px 0px 0px 13px;
}

.browser .top-bar .circles .circle {
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
}

.browser .top-bar .circles .circle.circle-red {
	background-color: #d91515;
}

.browser .top-bar .circles .circle.circle-yellow {
	background-color: #f8dc24;
}

.browser .top-bar .circles .circle.circle-green {
	background-color: #2db816;
}

.browser .content {
	line-height: 19px;
}

.browser .content .line-numbers {
	float: left!important;
    background-color: #f0f2f1;
    width: 41px;
    height: 313px;
	padding: 5px 0px 0px 0px;
    border-left: thin solid #dddddd;
    border-bottom: thin solid #dddddd;
}

.browser .content .line-numbers span{
	pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.browser .content .line-numbers span:before{
	content: counter(linenumber);
    color: #b5b5b5;
    display: block;
	font-size: 14px;
    padding-right: 0.3em;
    text-align: right;
}

.browser .content .content-php{
	float: right!important;
    background-color: #fff;
	color: #333;
    width: 500px;
    height: 313px;
	padding: 5px 0px 0px 5px;
    border-right: thin solid #dddddd;
    border-bottom: thin solid #dddddd;
}

.php-line{
	display: block;
}

.php-metatag{
	color: #DD6A6F;
}

.php-keyword{
	color: #569CD6;
}

.php-parenthesis{
	color: #333;
}

.php-string{
	color: #CE9178;
}

.php-comment{
	color: #608B4E;
}

.php-variable{
	color: #74B0DF;
}

.php-number{
	color: #B5CEA8;
}

.single-text{
	float: left;
	width: 100%;
	background-color: #e1e1e1;
}

.single-text p{
	text-align: center;
    font-size: 32px;
    margin: 47px 0px;
    color: #646464;
}

.grid{
	margin-top: 50px;
	margin-bottom: 50px;
}

.grid.grid-3{
	float: left!important;
	width: 25%;
}

.grid.grid-4{
	float: left!important;
	width: 33%;
}

.grid.grid-6{
	float: left!important;
	width: 50%;
}

.grid.grid-8{
	float: left!important;
	width: 66%;
}

.grid.grid-9{
	float: left!important;
	width: 75%;
}

.grid.grid-12{
	float: left!important;
	width: 100%;
}

.gray{
	background-color: #e1e1e1;
}

.border{
	border-radius: 5px;
}

.jumbotron{
	height: 323px;
	padding: 20px 15px 20px 15px;
}

.jumbotron .text{
	float: left;
    margin-top: 77px;
	color: #6e6e6e;
	font-size: 18px;
}

.jumbotron.donation{
	height: 227px;
}

.jumbotron .donation{
	margin-top: 0;
	margin-bottom: 4%;
}

.jumbotron .text h3{
	font-size: 24px;
	color: #646464;
	font-weight: normal;
}

.jumbotron .image-coder{
	float: left;
    width: 200px;
    height: 266px;
    background: url("../imagens/coder.png") no-repeat;
    margin-left: 225px;
    margin-top: 77px;
    padding: 0 90px 0px 0px;
}

.jumbotron .image-donation{
	float: left;
    width: 142px;
    height: 146px;
    background: url("../imagens/donation.png") no-repeat;
    margin-left: 225px;
    margin-top: 42px;
    padding: 0 149px 0px 0px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    padding: 18px 60px 18px 109px;
    border-radius: 5px;
}

.btn span{
	position: absolute;
    margin-left: -95px;
    margin-top: -20px;
    padding: 20px 12px 20px 12px;
    background-color: #333;
    font-weight: bold;
}

.btn.btn-download {
    background-color: #563d7c;
    color: #fff;
}

.btn.btn-download:hover{
	background-color: #5b4184;
}

.btn.btn-docs {
	padding: 18px 60px 18px 60px;
    background-color: #563d7c;
    color: #fff;
}

.btn.btn-doar {
    cursor: pointer;
    text-align: center;
    padding: 18px 52px 20px 60px;
    border: 0;
    background-color: #563d7c;
    color: #fff;
}

.btn.btn-doar:hover{
	background-color: #5b4184;
}

.btn.btn-docs:hover{
	background-color: #5b4184;
}

.btn.btn-store{
	cursor: pointer;
	padding: 15px 15px 15px 15px;
    color: #fff;
}

.btn.btn-store.car{
	background-color: #563d7c;
}

.btn.btn-store.buy{
	padding: 20px 15px 15px 15px;
	background-color: #333;
}

.btn.btn-store.car:hover{
	background-color: #5b4184;
	color: #fff;
}

.btn.btn-store.buy:hover{
	background-color: #3a3a3a;
}

.img-logo{
	position: relative;
	width: 169px;
    height: 183px;
	margin-top: 47px;
	margin-bottom: 47px;
    line-height: 6.3;
	background-color: #e1e1e1;
	font-size: 30px;
	font-style: italic;
	font-weight: normal;
	color: #6e6e6e;
}

.img-logo:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;    
    border-bottom: 57px solid #e1e1e1;
    border-left: 84px solid #ebebeb;
    border-right: 84px solid #ebebeb;
    width: 1px;
    height: 0;
}

.img-logo:after{
	content: "";
    position: absolute;
    bottom: 0;
    left: 0;    
    border-top: 57px solid #e1e1e1;
    border-left: 84px solid #ebebeb;
    border-right: 84px solid #ebebeb;
    width: 1px;
    height: 0;
}

.box-content p{
	margin: 0;
    margin-bottom: 10px;
	font-size: 24px;
	color: #646464;
}

.box-content span.description{
	font-size: 18px;
	color: #6e6e6e;
}

.code{
	margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px 0px 20px 19px;
    border-radius: 5px;
    width: 474px;
	background-color: #e1e1e1;
	color: #646464;
	font-size: 17.5px;
}

.docs{
	width: 100%;
}

footer{
	float: left;
	width: 100%;
	height: 227px;
	background-color: #e1e1e1;
	color: #6e6e6e;
	font-size: 18px;
	font-weight: bold;
	border-bottom: 4px solid #563d7c;
}

footer .left {
	position: relative;
	float: left!important;
	margin: 55px;
}

footer .right {
	position: relative;
	float: right!important;
	margin: 55px;
	margin-top: 71px;
}

footer .right a{
	color: #6e6e6e;
	font-size: 18px;
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	
}

footer .right a:hover{
	color: #676767;
	border-bottom: 3px solid #563d7c;
}

.menu-docs{
	float: left;
	width: 100%;
	height: 215px;
	background-color: #e1e1e1;
}

.menu-docs .left {
    float: left!important;
    margin-top: 89px;
    margin-left: 105px;
}

.menu-docs .left h1{
	font-size: 36px;
	margin: 0;
	color: #646464;
	font-weight: normal;
}

.menu-docs .left span{
	font-size: 18px;
	color: #6e6e6e;
	font-weight: normal;
}

.menu-docs .right {
    float: right!important;
    margin-top: 90px;
    margin-right: 105px;
}

.menu-vertical-docs nav{
	margin-left: 38px;
}  

.menu-vertical-docs:before{
	content: "";
    position: absolute;
    margin-left: 296px;
    margin-top: -50px;
    width: 2px;
    height: 50px;
    background-color: #e1e1e1;
}

.menu-vertical-docs{
	border-right: 2px solid #e1e1e1;
}

.menu-vertical-docs nav ul li.idx{
	font-weight: normal;
	margin-bottom: 20px;
}

.menu-vertical-docs nav ul li.idx a{
	text-decoration: none;
	color: #646464;
}

.menu-vertical-docs nav ul li.active > a{
	color: #563d7c;
}

.menu-vertical-docs nav ul li.idx a:hover{
	color: #563d7c;
}

.menu-vertical-docs nav ul{
	list-style-type: none;
}

.menu-vertical-docs nav ul li{
	color: #646464;
	font-size: 24px;
	font-weight: bold;
	margin-top: 10px;
}

.menu-vertical-docs nav ul li ul li{
	margin-left: -20px;
	font-weight: normal;
	margin-top: 0px;
}

.menu-vertical-docs nav ul li ul li a{
	text-decoration: none;
	color: #646464;
}

.menu-vertical-docs nav ul li ul li a:hover{
	color: #563d7c;
}

.menu-vertical-docs nav ul li ul li.active > a{
	color: #563d7c;
}

.docs-content {
    margin-left: 98px;
}

.docs-content.about{
	margin-left: 0;
}

.docs-content h1{
	font-size: 24px;
	color: #646464;
	font-weight: bold;
}

.docs-content h2{
	font-size: 20px;
	color: #777777;
	font-weight: bold;
}

.docs-content p{
	font-size: 18px;
	color: #6e6e6e;
}

.docs-content a{
	text-decoration: none;
	color: #563d7c;
}

.docs-content a:hover{
	text-decoration: none;
	color: #5b4184;
}

.store-block{
	float: left;
	width: 268px;
	margin: 10px;
}

.store-block-inline{
	float: left;
	border-radius: 5px;
	margin-bottom: 15px;
	width: 268px;
	height: 336px;
	background-color: #e1e1e1;
}

.store-btn {
    text-align: center;
}

.store-img {
    text-align: center;
}

.store-data {
    text-align: center;
    font-size: 24px;
    color: #646464;
}

.store-data span{
	display: block;
	color: #727272;
}

.box-message {
    color: #646464;
    width: 88%;
    padding: 20px 12px 17px 12px;
    background-color: #e1e1e1;
}

.box-message.alert{
	border-left: 4px solid #563d7c;
}

.box-message .right{
	float: right;
	
}

/* Nav */
.primary_nav_wrap{
	float: left;
	margin-right: 10px;
}

.primary_nav_wrap ul{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	z-index: 2;
}

.primary_nav_wrap ul label{
	display:block;
	color: #fff;
	text-decoration:none;
	font-size: 14px;
}

.primary_nav_wrap ul li:hover > a.btn.btn-store.car{
	background-color: #5b4184;
}

.primary_nav_wrap ul ul{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#5b4184;
	padding: 0px;
  
    -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	/*-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15); */
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;  
}

.primary_nav_wrap ul ul li{
	float:none;
	width: 193px;
	margin-top: 23px;
}

.primary_nav_wrap ul ul label{
	float: left;
  	cursor: pointer;
	padding: 3px 10px;
}

.primary_nav_wrap ul ul span.delete{
	width: 6px;
    background-color: #b12e2e;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    padding: 0px 6px 0px 5px;
    margin: 0;
    margin-left: 9px;
    font-size: 13px;
    color: #fff;
}
.primary_nav_wrap ul ul span{
	float: left;
	width: 109px;
    margin-bottom: 10px;
    margin-top: -6px;
    padding: 0px 35px;
    color: #e7e7e7;
}

.primary_nav_wrap ul ul li label:hover{
	color: #f0f0f0;
}

.primary_nav_wrap ul ul ul{
	top:0;
	left:100%
}

.primary_nav_wrap ul li:hover > ul{
	display:block
}

@media (max-width: 1024px){
	.container{
		width: 100%;
  		margin:0 auto;
	}

	.container-body{
		width: 95%;
	}
	
	.browser{
		margin-left: 23%;
	}
	
	.jumbotron{
		height: 30%;
	}
	
	.jumbotron .image-coder{
		margin-left: 17%;
        margin-top: 10%;
	}
	
	.jumbotron .image-donation{
		margin-left: 17%;
    	margin-top: 4%;
	}
	
	.jumbotron .text-donation{
		margin-bottom: 4%
	}
	
	.menu-vertical-docs:before{
		margin-left: 239px;
	}
	
	.code{
		width: 95%;
	}
}

@media (max-width: 768px){
	.browser{
		margin-left: 14%;
	}
	
	.jumbotron .image-coder{
		margin-left: 1%;
   	 	margin-top: 13%;
    	padding: 0px 4% 0px 0px;
	}
	
	.menu-docs .left{
		margin-left: 35px;
	}
	
	.menu-docs .right{
		margin-right: 35px;
	}
	
	.menu-vertical-docs:before {
    	margin-left: 178px;
	}
	
	.menu-vertical-docs nav {
    	margin-left: -6px;
	}
	
	.menu-vertical-docs nav ul li{
		font-size: 18px;
	}
	
	.docs-content{
		margin-left: 52px;
	}
}

@media (max-width: 640px){
	
	header .right{
		display: none;
	}
	
	.browser{
		margin-left: 6%;
		margin-top: 7%;
	}
	
	.single-text{
		height: 96px;
	}
	
	.single-text p{
		font-size: 32px;
	}
	
	.btn{
		font-size: 14px;
	}
	
	.btn.btn-docs{
		padding: 15px 25px 15px 25px;
	}
	
	.menu-vertical-docs:before {
    	margin-left: 148px;
	}
	
	.menu-vertical-docs nav{
		margin-left: 0;
	}
	
	.menu-docs .left{
		margin-left: 15px;
	}
	
	.menu-docs .right{
		margin-right: 15px;
	}
	
	.menu-docs .left h1{
		font-size: 30px;
	}
	
	.menu-docs .left span{
		font-size: 14px;
	}
	
	footer .left{
		margin-left: 25px;
		margin-right: 0;
	}
	
	footer .right{
		margin-right: 25px;
		margin-left: 0;
	}
}