	<div class="menu-docs">
		<div class="container">
			<div class="left">
				<h1>Sobre Nós</h1>
				<span>Conheça um pouco sobre o Kep</span>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="grid grid-12">
			<div class="docs-content ">
				<h1>Visão geral</h1>
				<p>Pretendemos levar o Kep Framework para todos e mostrar de forma clara para iniciantes, como é o desenvolvimento de uma framework e como podem aumentar a produtividade com Kep.</p>
				<p>Kep Framework foi iniciado por um desenvolvedor, com a mesma curiosidade de aprender como é um funcionamento de uma framework, utilizando como view o AngularJS, entre outros.</p>
				<h1>Criadores</h1>
				<p>Matuzalém S. Teles - <a href="https://github.com/matuzalemsteles" target="_blank">GitHub</a> | <a href="https://twitter.com/MatuzalemTeles" target="_blank">Twitter</a></p>
				<h1>Contribuintes</h1>
				<p><a href="https://github.com/KepPHP/Kep" target="_blank">Quero contribuir</a></p>
			</div>
		</div>
	</div>