	<div class="menu-docs">
		<div class="container">
			<div class="left">
				<h1>Documentação</h1>
				<span>Aprenda como utilizar o Kep Framework</span>
			</div>
			<div class="right">
				<a href="https://github.com/KepPHP/Kep/archive/master.zip" class="btn btn-download"><span>ALPHA</span>DOWNLOAD V0.1</a>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="grid grid-3 menu-vertical-docs">
			<nav>
				<ul>
					<li class="idx"><a href="#/docs">Getting started</a></li>
					<li>Básico
						<ul>
							<li><a href="#/docs/routing">Routing</a></li>
							<li><a href="#/docs/controller">Controller</a></li>
							<li><a href="#/docs/model">Model</a></li>
						</ul>
					</li>
					<li>Database
						<ul>
							<li><a href="#/docs/query-builder">Query Builder</a></li>
						</ul>
					</li>
					<li>Security
						<ul>
							<li><a href="#/docs/headers">Headers</a></li>
						</ul>
					</li>
					<li>Serviços
						<ul>
							<li><a href="#/docs/seeds">Seeds</a></li>
							<li class="active"><a href="#/docs/authentication">Authentication</a></li>
						</ul>
					</li>
					<li>Views
						<ul>
							<li><a href="#/docs/angularjs">AngularJS</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="grid grid-8">
			<div class="docs-content">
				<h1>Authentication</h1>
				<p>Usamos uma camada de autenticação do usuário, onde o mesmo que consome os dados da API, envie o nome de usuário e uma token, onde o mesmo e comparado com a $_SESSION["token"] e no banco de dados.</p>
				<h1>User/Email</h1>
				<p>A arquitetura que consome a API, envia o nome de usuário ou email para comparar no sistema.</p>
				<h1>Token</h1>
				<p>A token, pode ser numeros e letras aleatorios, gerados pelo seu sistema e adicionado a uma sessão. Token gerada a cada novo login do usuário em seu sistema.</p>
				<h1>Configuração</h1>
				<p>Para configurar o sistema de autenticação é preciso altear no arquivo do Kep.</p>
				<div class="code docs">
					<span class="php-line">
						<span>kep/config/config.php</span>
					</span>
				</div>
				<div class="code docs">
					<span class="php-line">
						<span class="php-keyword">return</span>
						<span>[</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'authentication'</span>
						<span>=></span>
						<span>[</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'mysql'</span>
						<span>=> [</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'activate'</span>
						<span>=></span>
						<span class="php-keyword">true</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'table'</span>
						<span>=></span>
						<span class="php-string">'Tabela'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'column'</span>
						<span>=></span>
						<span class="php-string">'Coluna'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>],</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>],</span>
					</span>
					<span class="php-line">
						<span>];</span>
					</span>
				</div>
			</div>
		</div>
	</div>