	<div class="menu-docs">
		<div class="container">
			<div class="left">
				<h1>Documentação</h1>
				<span>Aprenda como utilizar o Kep Framework</span>
			</div>
			<div class="right">
				<a href="https://github.com/KepPHP/Kep/archive/master.zip" class="btn btn-download"><span>ALPHA</span>DOWNLOAD V0.1</a>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="grid grid-3 menu-vertical-docs">
			<nav>
				<ul>
					<li class="idx"><a href="#/docs">Getting started</a></li>
					<li>Básico
						<ul>
							<li><a href="#/docs/routing">Routing</a></li>
							<li class="active"><a href="#/docs/controller">Controller</a></li>
							<li><a href="#/docs/model">Model</a></li>
						</ul>
					</li>
					<li>Database
						<ul>
							<li><a href="#/docs/query-builder">Query Builder</a></li>
						</ul>
					</li>
					<li>Serviços
						<ul>
							<li><a href="#/docs/seeds">Seeds</a></li>
						</ul>
					</li>
					<li>Views
						<ul>
							<li><a href="#/docs/angularjs">AngularJS</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="grid grid-8">
			<div class="docs-content">
				<h1>Controller</h1>
				<p>Os controles são utilizados para realizar as suas funções que ira retornar algum objeto, exemplo: queremos fazer a multiplicação de um dado vindo da nossa rota "2" e multiplicar por 2, vejamos isto em um exemplo básico.</p>
				<h1>Controller Básico</h1>
				<p>Para criarmos um controller é preciso seguir algumas regras basicas de nossa Framework, confira em <a href="#/docs">Getting started</a>.</p>
				<p>Vamos criar a nosso primeiro controller e conhecer a estrutura padrão de um Controller Kep.</p>
				<div class="code docs">
					<span class="php-line">
						<span class="php-keyword">use</span>
						<span>controller\BaseController;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-keyword">class</span>
						<span>NomeDoController</span>
						<span class="php-keyword">extends</span>
						<span>BaseController{</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-comment">// Controller Padrão</span>
					</span>
					<span class="php-line">
						<span>}</span>
					</span>
				</div>
				<h1>Parameters</h1>
				<p>Para podermos obter os parâmetros recebidos atraves dos metodos Post, Get, Put e Delete, utilizarmos a função params() de nossa BaseController.</p>
				<div class="code docs">
					<span class="php-line">
						<span class="php-variable">$this</span>
						<span>->params()->number</span>
					</span>
				</div>
				<h1>Response</h1>
				<p>Para retornarmos os valores e os resultados que fizemos dentro de nosso controller, utilizamos o método response() da nossa BaseController.</p>
				<p>Retornamos os valores em formato JSON.</p>
				<div class="code docs">
					<span class="php-line">
						<span class="php-variable">$array</span>
						<span>=</span>
						<span class="php-keyword">array</span>
						<span>(</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">"mensagem"</span>
						<span>=></span>
						<span class="php-string">"mensagem a retornar"</span>
					</span>
					<span class="php-line">
						<span>);</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-keyword">echo</span>
						<span class="php-variable">$this</span>
						<span>->response(</span>
						<span class="php-variable">$array</span>
						<span>);</span>
					</span>
				</div>
				<p>O <b>Number</b> é o nome do parametro que espera receber e compartilhar pelo controller ou model.</p>
				<h1>Meu primeiro controller</h1>
				<p>Veja um exemplo de nossa Route utilizando a função getMulti() de nosso controller.</p>
				<div class="code docs">
					<span class="php-line">
						<span class="php-keyword">use</span>
						<span>controller\BaseController;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-keyword">class</span>
						<span>MyController</span>
						<span class="php-keyword">extends</span>
						<span>BaseController{</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-keyword">public function</span>
						<span>getMulti(){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-variable">$Multiplication</span>
						<span>=</span>
						<span class="php-number">2</span>
						<span>*</span>
						<span class="php-variable">$this</span>
						<span>->params()->number</span>
						<span>;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-keyword">echo</span>
						<span class="php-variable">$this</span>
						<span>->response(</span>
						<span class="php-variable">$Multiplication</span>
						<span>);</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>}</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>}</span>
					</span>
				</div>
				<p>Para que possamos utilizar uma rota que use o nosso controller "MyController" e a função getMulti(), confira.</p>
				<div class="code docs">
					<span class="php-line">
						<span>Route::post(</span>
						<span class="php-string">'getMulti'</span>
						<span>, [</span>
						<span class="php-string">'uses'</span>
						<span> => </span>
						<span class="php-string">'MyController@getMulti'</span>
						<span>]);</span>
					</span>
				</div>
				<p>Para entender mais sobre Route, leia em <a href="#/docs/routing">Routing</a>.</p>
				<h1>Controller mais Model</h1>
				<p>Quando precisamos efetuar alguma conexão com o banco de dados, para obtermos alguns dados. No Kep, utilizamos o Model, para que possamos efetuar está conexão, para saber mais sobre o funcionamento, leia em <a href="#/docs/model">Model</a>.</p>
			</div>
		</div>
	</div>