	<div class="menu-docs">
		<div class="container">
			<div class="left">
				<h1>Documentação</h1>
				<span>Aprenda como utilizar o Kep Framework</span>
			</div>
			<div class="right">
				<a href="#/docs#installation" class="btn btn-download"><span>BETA</span>DOWNLOAD V0.3</a>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="grid grid-3 menu-vertical-docs">
			<nav>
				<ul>
					<li class="idx active"><a href="#/docs">Getting started</a></li>
					<li>Básico
						<ul>
							<li><a href="#/docs/routing">Routing</a></li>
							<li><a href="#/docs/controller">Controller</a></li>
							<li><a href="#/docs/model">Model</a></li>
						</ul>
					</li>
					<li>Database
						<ul>
							<li><a href="#/docs/query-builder">Query Builder</a></li>
						</ul>
					</li>
					<li>Security
						<ul>
							<li><a href="#/docs/headers">Headers</a></li>
						</ul>
					</li>
					<li>Serviços
						<ul>
							<li><a href="#/docs/seeds">Seeds</a></li>
							<li><a href="#/docs/authentication">Authentication</a></li>
						</ul>
					</li>
					<li>Views
						<ul>
							<li><a href="#/docs/angularjs">AngularJS</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="grid grid-8">
			<div class="docs-content">
				<h1>Getting started</h1>
				<p>O Kep Framework está em sua primeira versão BETA, criado para iniciantes se familiarizam com 
				frameworks profissionais, como o Laravel, trazendo simplicidade para a criação de APIs em PHP, 
				com uma boa performance e agilidade.</p>
				<p>Conta com sistemas de Rotas, Controles e modelos e a facilidade de conexão com o banco de
				dados MySQL.</p>
				<h1 id="installation">Instalação</h1>
				<p>Instalação pelo composer, certifique-se de ter <a href="https://getcomposer.org/">Composer</a> instalado em sua máquina.</p>
				<div class="code docs">
					<span class="php-line">
						<span>composer require kepphp/kep *</span>
					</span>
				</div>
				<p>Acompanhe as versões em nosso <a href="https://github.com/getkep/Kep/releases">repositório</a> no Github e lembre sempre em instalar a última versão.</p>
				<h1>Configuração</h1>
				<p>Depois da instalação do Kep com composer em uma pasta, precisamos criar uma nova pasta com qualquer nome(Certifique-se de adicionar este nome na configuração do Kep).</p>
				<p>Abra a pasta e crie mais 3, com os nomes controllers, models e seeds. a arquitetura de nossa aplicação fica assim:</p>
				<div class="code docs">
					<span class="php-line">
						<span>api/</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>├─ v1/</span>
					</span>
					<span class="php-line"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  						<span>│</span>
						<span>&nbsp;&nbsp;</span>
						<span>├─ controllers/</span>
					</span>
					<span class="php-line"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  						<span>│</span>
						<span>&nbsp;&nbsp;</span>
						<span>├─ models/</span>
					</span>
					<span class="php-line"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  						<span>│</span>
						<span>&nbsp;&nbsp;</span>
						<span>└─ seeds/</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>└─ vendor/</span>
					</span>
				</div>
				<p>Para o Kep, identificar a pasta e efetuar conexão com o banco de dados, precisamos criar o arquivo de configuração na pasta raiz do projeto (Antes da pasta vendor), com o nome config.php.</p>
				<p>A estrutura do arquivo a seguir.</p>
				<div class="code docs">
					<span class="php-line">
						<span>config.php</span>
					</span>
					<span class="php-line">
						<span>vendor/</span>
					</span>
				</div>
				<div class="code docs">
					<span class="php-line">
						<span class="php-keyword">class</span>
						<span>configuration</span>
					</span>
					<span class="php-line">
						<span>{</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-keyword">public function</span>
						<span>config</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>{</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-keyword">return</span>
						<span>[</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'directory'</span>
						<span>=></span>
						<span class="php-string">"v1"</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'connections'</span>
						<span>=></span>
						<span>[</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'mysql'</span>
						<span>=> [</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'driver'</span>
						<span>=></span>
						<span class="php-string">'mysqli'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'host'</span>
						<span>=></span>
						<span class="php-string">'localhost'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'database'</span>
						<span>=></span>
						<span class="php-string">'Data'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'username'</span>
						<span>=></span>
						<span class="php-string">'root'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'password'</span>
						<span>=></span>
						<span class="php-string">'password'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>],</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>],</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'authentication'</span>
						<span>=></span>
						<span>[</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'mysql'</span>
						<span>=> [</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'activate'</span>
						<span>=></span>
						<span class="php-keyword">true</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'table'</span>
						<span>=></span>
						<span class="php-string">'Tabela'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">'column'</span>
						<span>=></span>
						<span class="php-string">'Coluna'</span>
						<span>,</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>],</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>],</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>];</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>}</span>
					</span>
					<span class="php-line">
						<span>}</span>
					</span>
				</div>
				<p>Você pode configurar o nome da pasta onde está localizado a API no 'directory'.</p>
				<h1>.htaccess</h1>
				<p>Para o funcionamento correto da API, precisamos criar urls amigaveis e deixar o Kep cuidar do assunto.</p>
				<div class="code docs">
					<span class="php-line">
						<span>RewriteEngine On</span>
					</span>
					<span class="php-line">
						<span>RewriteCond %{REQUEST_FILENAME} !-f</span>
					</span>
					<span class="php-line">
						<span>RewriteCond %{REQUEST_FILENAME} !-d</span>
					</span>
					<span class="php-line">
						<span>RewriteRule . index.php [L]</span>
					</span>
				</div>
				<h1>Routes</h1>
				<p>Para o configuramento de rotas no arquivo index.php, leia mais sobre <a href="#/docs/routing">Routes</a>.</p>
				<h1>Controller</h1>
				<p>Para criar os controllers, leia mais sobre <a href="#/docs/controller">Controller</a>.</p>
				<h1>Model</h1>
				<p>Para a criar o model e interagir com o controller, leia mais sobre <a href="#/docs/model">Model</a>.</p>
				<h1>Views</h1>
				<p>Utilizar o AngularJS como view para consumir a nossa API, veja alguns detalhes em <a href="#/docs/angularjs">View AngularJS</a></p>
				<h1>Seeds</h1>
				<p>Para criar as suas proprias classes e reutilizar de forma eficiente nos controllers, leia mais
				sobre <a href="#/docs/seeds">Seeds</a>.</p>
			</div>
		</div>
	</div>
