	<div class="menu-docs">
		<div class="container">
			<div class="left">
				<h1>Documentação</h1>
				<span>Aprenda como utilizar o Kep Framework</span>
			</div>
			<div class="right">
				<a href="https://github.com/KepPHP/Kep/archive/master.zip" class="btn btn-download"><span>BETA</span>DOWNLOAD V0.1</a>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="grid grid-3 menu-vertical-docs">
			<nav>
				<ul>
					<li class="idx"><a href="#/docs">Getting started</a></li>
					<li>Básico
						<ul>
							<li><a href="#/docs/routing">Routing</a></li>
							<li><a href="#/docs/controller">Controller</a></li>
							<li class="active"><a href="#/docs/model">Model</a></li>
						</ul>
					</li>
					<li>Database
						<ul>
							<li><a href="#/docs/query-builder">Query Builder</a></li>
						</ul>
					</li>
					<li>Serviços
						<ul>
							<li><a href="#/docs/seeds">Seeds</a></li>
						</ul>
					</li>
					<li>Views
						<ul>
							<li><a href="#/docs/angularjs">AngularJS</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="grid grid-8">
			<div class="docs-content">
				<h1>Model</h1>
				<p>Para a criação de Models é preciso seguir algumas regras de nossa Framework, leia mais em <a href="#/docs">Getting started</a></p>
			</div>
		</div>
	</div>