	<div class="menu-docs">
		<div class="container">
			<div class="left">
				<h1>Documentação</h1>
				<span>Aprenda como utilizar o Kep Framework</span>
			</div>
			<div class="right">
				<a href="#/docs#installation" class="btn btn-download"><span>BETA</span>DOWNLOAD V0.3</a>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="grid grid-3 menu-vertical-docs">
			<nav>
				<ul>
					<li class="idx"><a href="#/docs">Getting started</a></li>
					<li>Básico
						<ul>
							<li><a href="#/docs/routing">Routing</a></li>
							<li><a href="#/docs/controller">Controller</a></li>
							<li class="active"><a href="#/docs/model">Model</a></li>
						</ul>
					</li>
					<li>Database
						<ul>
							<li><a href="#/docs/query-builder">Query Builder</a></li>
						</ul>
					</li>
					<li>Security
						<ul>
							<li><a href="#/docs/headers">Headers</a></li>
						</ul>
					</li>
					<li>Serviços
						<ul>
							<li><a href="#/docs/seeds">Seeds</a></li>
							<li><a href="#/docs/authentication">Authentication</a></li>
						</ul>
					</li>
					<li>Views
						<ul>
							<li><a href="#/docs/angularjs">AngularJS</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="grid grid-8">
			<div class="docs-content">
				<h1>Model</h1>
				<p>Para a criação de Models é preciso seguir algumas regras de nossa Framework, leia mais em <a href="#/docs">Getting started</a></p>
				<h1>O que são?</h1>
				<p>O Model é utilizado em junção com o <a href="#/docs/controller">Controller</a>, é capaz de efetuar conexões com o banco de dados.</p>
				<h1>Model Básica</h1>
				<p>Vamos criar um model básica para servir o controller, iremos conhecer a estrutura do model do Kep.</p>
				<div class="code docs">
					<span class="php-line">
						<span class="php-keyword">use</span>
						<span>KepPHP\Kep\database\DB;</span>
					</span>
					<span class="php-line">
						<span class="php-keyword">use</span>
						<span>KepPHP\Kep\model\BaseModel;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-keyword">class</span>
						<span>mymodel</span>
						<span class="php-keyword">extends</span>
						<span>BaseModel{</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-comment">// Functions</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>}</span>
					</span>
				</div>
				<h1>Dependência do controller</h1>
				<p>Para poder utilizar o model e a suas funções é preciso utilizar a depedencia do controller, vejamos como poderemos chamar o nosso model no controller.</p>
				<div class="code docs">
					<span class="php-line">
						<span class="php-keyword">use</span>
						<span>KepPHP\Kep\controller\BaseController;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-keyword">class</span>
						<span>MyController</span>
						<span class="php-keyword">extends</span>
						<span>BaseController{</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-keyword">private</span>
						<span class="php-variable">$load</span>
						<span>;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-keyword">function __construct</span>
						<span>(){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-variable">$this</span>
						<span>->load =</span>
						<span class="php-variable">$this</span>
						<span>->LoadModel(</span>
						<span class="php-string">'mymodel'</span>
						<span>);</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>}</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>}</span>
					</span>
				</div>
			</div>
		</div>
	</div>