	<div class="menu-docs">
		<div class="container">
			<div class="left">
				<h1>Documentação</h1>
				<span>Aprenda como utilizar o Kep Framework</span>
			</div>
			<div class="right">
				<a href="https://github.com/KepPHP/Kep/archive/master.zip" class="btn btn-download"><span>BETA</span>DOWNLOAD V0.1</a>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="grid grid-3 menu-vertical-docs">
			<nav>
				<ul>
					<li class="idx"><a href="#/docs">Getting started</a></li>
					<li>Básico
						<ul>
							<li class="active"><a href="#/docs/routing">Routing</a></li>
							<li><a href="#/docs/controller">Controller</a></li>
							<li><a href="#/docs/model">Model</a></li>
						</ul>
					</li>
					<li>Database
						<ul>
							<li><a href="#/docs/query-builder">Query Builder</a></li>
						</ul>
					</li>
					<li>Serviços
						<ul>
							<li><a href="#/docs/seeds">Seeds</a></li>
						</ul>
					</li>
					<li>Views
						<ul>
							<li><a href="#/docs/angularjs">AngularJS</a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="grid grid-8">
			<div class="docs-content">
				<h1>Routing</h1>
				<p>A criação de rotas é o ponto inicial para poder distribuir a sua API para ser consumida.</p>
				<p>PS: Para começar é preciso que tenha lido o <a href="#/docs">Getting Started</a>.</p>
				<h1>Routing Básico</h1>
				<p>Para criarmos a nossa routing, utilizamos o arquivo index.php de acordo às <a href="#/docs">regras</a> da framework.</p>
				<div class="code docs">
					<span class="php-line">
						<span class="php-keyword">require_once</span>
						<span>(</span>
						<span class="php-string">"../kep/autoload.php"</span>
						<span>);</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-keyword">use</span>
						<span>route\Route;</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-comment">/* Criando route com dependência do Controller */</span>
					</span>
					<span class="php-line">
						<span>Route::post(</span>
						<span class="php-string">"allUsers"</span>
						<span>, [</span>
						<span class="php-string">'uses'</span>
						<span>=> [</span>
						<span class="php-string">'MyController@allUsers'</span>
						<span>]);</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-comment">/* Criando route sem dependência do Controller */</span>
					</span>
					<span class="php-line">
						<span>Route::post(</span>
						<span class="php-string">"Endpoint"</span>
						<span>,</span>
						<span class="php-keyword">function</span>
						<span>(){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-comment">// Tarefas para retorna</span>
					</span>
					<span class="php-line">
						<span>)};</span>
					</span>
				</div>
				<h1>Post</h1>
				<p>O sistema de rotas para obter os dados enviado via Post é bem facil no Kep Framework, vejamos um exemplo deixando a dependencia para o controller.</p>
				<span class="code docs php-line">
					<span>Route::post(</span>
					<span class="php-string">"Endpoint"</span>
					<span>, [</span>
					<span class="php-string">"uses"</span>
					<span>=></span>
					<span class="php-string">"NomeDoController@FunctionAExecutar"</span>
					<span>]);</span>
				</span>
				<p>Criando uma rota sem dependencia do controller também é facil.</p>
				<div class="code docs">
					<span class="php-line">
						<span>Route::post(</span>
						<span class="php-string">"Endpoint"</span>
						<span>,</span>
						<span class="php-keyword">function</span>
						<span>(){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-comment">// Tarefas para retorna</span>
					</span>
					<span class="php-line">
						<span>)};</span>
					</span>
				</div>
				<h1>Get</h1>
				<p>Podemos obter dados vindo do metodo GET, veja como é facil.</p>
				<span class="code docs php-line">
					<span>Route::get(</span>
					<span class="php-string">"user/:id"</span>
					<span>, [</span>
					<span class="php-string">"uses"</span>
					<span>=></span>
					<span class="php-string">"NomeDoController@FunctionAExecutar"</span>
					<span>]);</span>
				</span>
				<p>Para obter o valor da Get dentro do controller eu poderia obter desta maneira.</p>
				<span class="code docs php-line">
					<span class="php-variable">$this</span>
					<span>->params()->id;</span>
				</span>
				<p>O valor <b>id</b> é coresponde ao declarado no route.</p>
				<p>Para podermos utilizar o parametro recebido atraves da get sem a dependencia do controller.</p>
				<div class="code docs">
					<span class="php-line">
						<span>Route::get(</span>
						<span class="php-string">"salvar/:id"</span>
						<span>,</span>
						<span class="php-keyword">function</span>
						<span>($id){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-keyword">echo</span>
						<span class="php-variable">$id</span>
						<span>;</span>
					</span>
					<span class="php-line">
						<span>)};</span>
					</span>
				</div>
				<p>Como podemos observar o Kep é inteligente o possivel para interpretar o parametro e retornar para a function o parametro com o mesmo nome. ;)</p>	
				<h1>Put</h1>
				<p>Metodo put, normalmente utilizado para API de atualização de dados, confira o modo de uso com a dependencia do controller.</p>
				<span class="code docs php-line">
					<span>Route::put(</span>
					<span class="php-string">"save"</span>
					<span>, [</span>
					<span class="php-string">"uses"</span>
					<span>=></span>
					<span class="php-string">"NomeDoController@FunctionAExecutar"</span>
					<span>]);</span>
				</span>
				<p>Para efetuar uma ação rapida sem a dependencia do controller.</p>
				<div class="code docs">
					<span class="php-line">
						<span>Route::put(</span>
						<span class="php-string">"save"</span>
						<span>,</span>
						<span class="php-keyword">function</span>
						<span>(){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-comment">// Tarefas para retorna</span>
					</span>
					<span class="php-line">
						<span>)};</span>
					</span>
				</div>
				<h1>Delete</h1>
				<p>Podemos enviar dados pelo metodo HTTP delete para a API, sendo facil o modo de deletar informações do banco de dados.</p>
				<span class="code docs php-line">
					<span>Route::delete(</span>
					<span class="php-string">"user/delete"</span>
					<span>, [</span>
					<span class="php-string">"uses"</span>
					<span>=></span>
					<span class="php-string">"NomeDoController@FunctionAExecutar"</span>
					<span>]);</span>
				</span>
				<p>Sem a dependencia do controller.</p>
				<div class="code docs">
					<span class="php-line">
						<span>Route::delete(</span>
						<span class="php-string">"user/delete"</span>
						<span>,</span>
						<span class="php-keyword">function</span>
						<span>(){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-comment">// Tarefas para retorna</span>
					</span>
					<span class="php-line">
						<span>)};</span>
					</span>
				</div>
				<h1>Grupos de Route</h1>
				<p>Com o grupo de routes, podemos determinar uri fixas para o inicio de chamadas às API, assim podemos construir diferentes versões de nossa aplicação no mesmo arquivo.</p>
				<div class="code docs">
					<span class="php-line">
						<span>Route::group(</span>
						<span class="php-string">'api/v1'</span>
						<span>, </span>
						<span class="php-keyword">function</span>
						<span>(){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-comment">// Rotas</span>
					</span>
					<span class="php-line">
						<span>});</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span>Route::group(</span>
						<span class="php-string">'api/v2'</span>
						<span>, </span>
						<span class="php-keyword">function</span>
						<span>(){</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-comment">// Rotas</span>
					</span>
					<span class="php-line">
						<span>});</span>
					</span>
				</div>
				<h1>Response</h1>
				<p>Retornando valores é magico é facil, utilizamos o uso de uma array para guarda os dados que queremos retorna em nossa API e utilizamos o método "response" que retorna em JSON.</p>
				<p>Observação: usado sem a dependencia do controller e com a dependencia no controller.</p>
				<div class="code docs">
					<span class="php-line">
						<span class="php-variable">$array</span>
						<span>=</span>
						<span class="php-keyword">array</span>
						<span>(</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span class="php-string">"mensagem"</span>
						<span>=></span>
						<span class="php-string">"mensagem a retornar"</span>
					</span>
					<span class="php-line">
						<span>);</span>
					</span>
					<span class="php-line">
						<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
					</span>
					<span class="php-line">
						<span class="php-keyword">echo</span>
						<span class="php-variable">$this</span>
						<span>->response(</span>
						<span class="php-variable">$array</span>
						<span>);</span>
					</span>
				</div>
			</div>
		</div>
	</div>