	<div class="menu-docs">
		<div class="container">
			<div class="left">
				<h1>Store</h1>
				<span>Compre lembranças do Kep Framework</span>
			</div>
			<div class="right">
				<nav class="primary_nav_wrap">
					<ul>
						<li><a class="btn btn-store car"><img src="imagens/buy.png" alt="Carrinho"> R$ {{value}}</a>
							<ul>
								
								<li ng-repeat="product in jsonCheckout[0].products" ng-if="product.quantity > 0">
									<span class="delete" ng-click="delete(product.refcode)">x</span>
									<label>{{product.name}}</label>
									<span>{{product.quantity}}x R$6,00</span>
								</li>
								
                	     		
               				</ul>
						</li>
					</ul>
				</nav>
				<a ng-click="checkout()" class="btn btn-store buy">Comprar</a>
			</div>
		</div>
	</div>
	<div class="container container-body">
		<div class="grid grid-12">
			<div class="docs-content ">
				
				<div ng-if="isMsg == true" class="box-message alert">
					{{Msg}}
					<div class="right">
						<a href="#/store" ng-click="close()">x</a>
					</div>
				</div>
				
				<h1>Stickers</h1>
				
				<div class="store-block">
					<div class="store-block-inline">
						<div class="store-img"><img src="imagens/sticker-logo.png" alt="Sticker logo"></div>
						<div class="store-data">
							Kep (Logo) Sticker
							<span>R$6,00</span>
						</div>
					</div>
					<div class="store-btn">
						<a ng-click='buy("stk001")' class="btn btn-store car"><img src="imagens/buy.png" alt="Carrinho"> Comprar</a>
					</div>
				</div>
				
				<div class="store-block">
					<div class="store-block-inline">
						<div class="store-img"><img src="imagens/sticker-horizontal-2.png" alt="Sticker logo"></div>
						<div class="store-data">
							Kep (horizontal) Sticker
							<span>R$6,00</span>
						</div>
					</div>
					<div class="store-btn">
						<a ng-click='buy("stk002")' class="btn btn-store car"><img src="imagens/buy.png" alt="Carrinho"> Comprar</a>
					</div>
				</div>
				
				<div class="store-block">
					<div class="store-block-inline">
						<div class="store-img"><img src="imagens/sticker-horizontal.png" alt="Sticker logo"></div>
						<div class="store-data">
							Kep (horizontal) Sticker
							<span>R$6,00</span>
						</div>
					</div>
					<div class="store-btn">
						<a ng-click='buy("stk003")' class="btn btn-store car"><img src="imagens/buy.png" alt="Carrinho"> Comprar</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>